* {
    //border: solid 1px red;
}


/* 
    SERVICOS SECTION
*/

.services-section {
    width: 100%;
    height: calc(100vh - 56px);
    background: url('http://i.kinja-img.com/gawker-media/image/upload/s--C1YSYPLt--/1208413373799509864.gif');
    background-position: center;
    background-size: cover;
}

.services-inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.services-text {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
    font-size: 40px;
    p {
        padding: 0 20px;
    }
}



.links-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;

    li {
        border-bottom: solid 1px #42f4eb;
        margin-right: 20px;
        margin-top: 25px;
        padding-bottom: 5px;
    }
}

.links-list li:last-child {
    margin-right: 0;
}


/* 
    LIST SERVICES
*/

.list-services-section {
    margin-bottom: 200px;
}

.s1 {
    margin-top: 30px;
    padding-top: 20px;
}

.s1:nth-child(even) {
    background: #7674bc;
}



.s1-inner {
    display: flex;
    flex-wrap: wrap;
}

.img-container {
    width: 100%;
    height: 150px;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.s1-title {
    width: 100%;
}

.s1-title-inner {
    width: 100%;
    text-align: center;
    h1 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .s1-text {
        padding: 20px;
    }
}




 @media only screen and (min-width: 1024px) {

    .services-section {
        height: 100vh;
    }

    .services-text {
        p {
            padding: 0;
            font-size: 30px;
        }
    }


    /* 
    LIST SERVICES
    */
    
    .s1 {
        margin-top: 50px;
        padding: 10px;
        border: solid 1px white;

    }

    .s1:nth-child(even) {
        background: none;
    }

    .img-container {
        width: 50%;
        height: 200px;
        img {
            width: 100%;
        }
    }

    .s1-title {
        width: 50%;
    }

    .s1-title-inner {
        text-align: left;
        padding: 0 30px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        h1 {
            margin-top: 0;
            margin-bottom: 30px;
        }
        .s1-text {
            padding: 0;
        }
        
    }

   



 } // media querie